/*import statements*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.Footer{
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	padding: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-family: Ubuntu;
}

a{
	color: #fff;
}

p{
	color: #fff;
}