/*import statements*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.App {
  text-align: center;
}

body{
  background-image: url('./assetsFolder/nature.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Ubuntu;
  height: 100%;
}




